
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #292C34;
}


header{
    background: white;
    padding: 20px;
}

header> h1{
    color: #24272E;
    font-family: Asap, sans-serif;
    text-align: center;
}


.score-board{
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
    border: 5px solid white;
    width: 300px;
    font-size: 40px;
    border-radius: 4px;
    font-family: Asap, sans-serif;
    position: relative;
    color: white;

}
.badge{
    background: #E2584D;
    font-size: 16px;
    padding: 2px 10px;
    
}

#user-label{
position: absolute;
top: 30px;
left: -25px;
}

#comp-label{
    position: absolute;
    top: 30px;
    left: 250px;
}

.result{
    
    font-size: 40px;
    
    color: white;
    
}
.result>p{
    font-weight: bold;
    text-align: center;
    font-family: Asap,sans-serif;
}


.choices{

    margin-top: 50px;
    text-align: center;

}


.choice{

    display: inline-block;
    margin: 0 20px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 20px;
    transition: all 0.3s ease;
    

}

.choice:hover{
    cursor: pointer;
    background: white;
}

#action-message{
    color: white;
    text-align: center;
    font-family: Asap,sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}


.green-glow{

    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #33b43d;
}

.red-glow{

    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}











